# =========================
# Sistema Operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Editores
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log